@import "~@patternfly/patternfly/patternfly-addons.css";
@import "~@patternfly/react-core/dist/styles/base.css";

:root {
  --rh-custom-column-top-margin: 41px;
  --pfe-theme--color--ui-accent: #e00;
}

.pf-v6-c-page.apid-c-page-landingpage,
.pf-v6-c-page.apid-c-page-apipage {
  --pf-v6-c-page__main--ZIndex: 1;
  --pf-v6-c-page--inset: 0;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main";
  .pf-v6-c-page__main-container {
    border-radius: 0;
    border-width: 0;
    box-shadow: none;
    max-height: 100%;
  }
 }

.apid-c-page-landingpage {
  .apid-split-l-pagination {
    width: 100%;
    flex-direction: row;
    @media screen and (max-width: 998px) {
      flex-direction: column;
    }
  }
  .pf-v6-c-sidebar__main {
    height: 100%;
  }
  .pf-v6-c-sidebar__content {
    height: 100%;
    box-shadow: inset 0.125rem 0 0.125rem -0.0625rem rgba(3, 3, 3, 0.16);
  }
  .pf-v6-c-text-input-group {
    width: 250px;
    &__icon {
      display: none;
    }
    &__text-input {
      padding-left: var(--pf-t--global--spacer--sm);
    }
  }
  .pf-v6-c-check {
    --pf-v6-c-check__label--FontSize: var(--pf-v6-c-content--small--FontSize);
    --pf-v6-c-check__label--LineHeight: var(--pf-v6-c-content--small--LineHeight);
  }
  .pf-v6-c-page__main-section {
    box-shadow: inset 0.125rem 0 0.125rem -0.0625rem rgba(3, 3, 3, 0.16);
  }
  .apid-c-page__main-section-gallery {
    min-height: 500px;
  }

  .pf-v6-c-card {
    &__header {
      background: var(--pf-t--global--background--color--200);
    }
    svg {
      width: 28px;
    }
    &__body {
      display: flex;
      flex-direction: column;
      .apid-tags__main {
        margin-top: auto;
        padding-top: var(--pf-t--global--spacer--sm);
      }
      svg {
        width: 38px;
        height: 38px;
      }
    }
  }
}

.apid-c-page-apipage {
  .pf-v6-c-page__main-section {
    border-bottom: 1px solid var(--pf-t--global--border--color--default);
  }
  .pf-v6-c-sidebar__main {
    height: 100%;
  }
  .pf-v6-c-sidebar__content {
    height: 100%;
    min-height: 500px;
    .pf-v6-c-page__main-section {
      box-shadow: inset 0.2rem 0 0.2rem -0.0625rem rgba(3, 3, 3, 0.1);
    }
  }
  .pf-v6-c-back-to-top {
    position: fixed;
  }
}


.apid-c-accordion-operations.pf-v6-c-accordion {
  --pf-v6-c-accordion__expandable-content-body--PaddingLeft: var(--pf-t--global--spacer--2xl);
  border-left: 1px solid var(--pf-t--global--border--color--default);
  border-right: 1px solid var(--pf-t--global--border--color--default);
  .pf-v6-c-accordion__toggle.pf-v6-m-expanded {
    background: var(--pf-t--global--background--color--200);
  }
  .pf-v6-c-accordion__toggle {
    flex-direction: row-reverse;
    justify-content: flex-end;
    &-icon {
      align-self: flex-start;
      margin-right: var(--pf-t--global--spacer--sm);
    }
    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      white-space: nowrap;
       // temp fix - until conflict with sidebar is resolved
      @media screen and (min-width: 769px) and (max-width: 1200px) {
        width:450px;
      }
       @media screen and (min-width: 1201px) and (max-width: 1400px)  {
        width:800px;
      }
      @media screen and (min-width: 1401px) {
        width:1000px;
      }
    }
  }
}

.apid-c-accordion-schemas.pf-v6-c-accordion {
  --pf-v6-c-accordion__expandable-content-body--PaddingLeft: var(--pf-t--global--spacer--sm);
  --pf-v6-c-accordion__expandable-content-body--PaddingTop: 0;
  border-left: 1px solid var(--pf-t--global--border--color--default);
  border-right: 1px solid var(--pf-t--global--border--color--default);
  .pf-v6-c-accordion__toggle.pf-v6-m-expanded {
    background: var(--pf-t--global--background--color--200);
  }
    .pf-v6-c-accordion__toggle {
    flex-direction: row-reverse;
    justify-content: flex-end,
  }
  .pf-v6-c-accordion__toggle-text {
    text-align: left;
    margin-left: var(--pf-t--global--spacer--md);
  }
}

.apid-c-jump-links {
  .pf-v6-c-jump-links__link {
    --pf-v6-c-jump-links__link--PaddingTop: var(--pf-t--global--spacer--sm);
    --pf-v6-c-jump-links__link--PaddingBottom: 0;
  }

  .pf-v6-c-jump-links__list {
    --pf-v6-c-jump-links__list--PaddingTop: var(--pf-t--global--spacer--sm);
    --pf-v6-c-jump-links__list--PaddingBottom: var(--pf-t--global--spacer--sm);
  }
}

.apid-reqbody-header {
  padding-top: var(--pf-t--global--spacer--md);
}

.apid-c-page-hero {
  background-color: var(--pf-t--color--gray--95);
  color: var(--pf-t--global--text--color--inverse);
}

.apid-m-text-break-all {
  word-break: break-all;
}

.apid-landing-layout-toggle-group {
  margin-top: auto;
  margin-bottom: auto;
}
